html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.section__firsth {
    font-family: 'Lato', sans-serif;
}

.section__second {
    font-family: 'Lato', sans-serif;
}

.section__third {
    font-family: 'Lato', sans-serif;
}

.section__link {
    line-height: 5;
}

.article {
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
}

.article__header {
    color: #397872;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}

.article__paragraph {
    line-height: 1.5;
    text-align: center;
    color: black;
}

.article__paragraph--highlighted {
    color: black;
}

.article--light .article__paragraph {
    color: black;
}

.navigation {
    color: black;
    font-size: 15px;
    line-height: 1, 5;
    word-spacing: 1cm;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding: 0px 30px;
    width: 465x;
}

.navigation__list {
    list-style: none;
    padding-left: 0px;
}

.navigation__item {
    margin: 5px;
}

.navigation__link {
    text-decoration: none;
}

.person {
    padding-left: 10px;
}

.personTitle {
    color: #397872;
    margin-left: 130px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 20px 50px;
    outline: 10px #397872;
}

.personTitle__image {
    margin-left: 311px;
    border-radius: 50%;
}

.image {
    max-width: 300px;
    border: 1px solid #397872;
    border-radius: 50px;
    margin-left: 300px;
}

.body {
    background-color: rgb(192 202 235);
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

.body--pinkBackground {
    background-color: white;
}

.button {
    margin: 5px 10px 5px 5px;
    padding: 0px 20px;
    border-style: none;
    background-color: #3978724f;
    border-radius: 20px;
    box-shadow: 0 0 0 1.5px;
}

.buttonSpace {
    margin-top: 40px;
}

.side {
    color: rgb(19, 3, 3);
    font-size: 22px;
    line-height: 2;
    max-width: 308px;
    padding: 45px 3px;
    padding-left: 10px;
    outline: 10px rgb(19, 3, 3);
    margin-left: 670px;
    margin-top: -380px;
}

.side__link {
    font-size: 15px;
}

.side--decoration {
    color: #397872;
}

.decoration {
    text-decoration: none;
}

.table {
    font-family: "lobster", sans-serif;
    border-collapse: collapse;
    border-style: ridge;
    padding: 30px;
    padding-left: 20px;
    width: 90%;
    outline: 3px solid #397872;
    outline-offset: 20px;
    box-shadow: 6px 4px 23px 9px #00796b;
    margin: 30px 10px 30px 30px;
}

.table__row {
    border-collapse: collapse;
    border-style: ridge;
}


.table__cell {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    vertical-align: middle;

}

.table--header {
    background-color: #397872;
    color: white;
    font-weight: normal;

}

.table__row:nth-child(even) {
    background: #eee;
}

.table__row:hover {
    background: #ddd;
}

.container {
    overflow-x: auto;
}

.caption {
    font-size: 20px;

}

.morningList {
    padding-left: 20px;
    margin: 50px;
}

.Myfavorit {
    color: #397872;
}

.list__item {
    margin: 10px 0;
}

.list {
    padding-left: 20px;
}

.list--ordered {
    list-style-type: decimal-leading-zero;
}

.list--unordered {
    list-style-type: square;
}

.footer {
    border: 2px rgb(19, 3, 3);
    border-style: inset;
    padding: 20px 135px;
}